body{
    width: 250 px;
    height: 250px;
    background-color: black;
    display: flex;
    justify-content: center;
}
p{
    display: inner-flex;
    margin: auto 10px;
    font-size: 30px;
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    padding: 10px;


}